@model WebApplication1.Helpers.Retrive.Structure
@{
    ViewData["Title"] = "Home Page1";
}
<div class="text-center">
    <h1 class="display-4">Welcome Hot Reload</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="row">
        <div class="col-4 bg-white text-dark">
            <div id="general">General</div>
            <div id="elevation"></div>
            <div id="here_table"></div>
            <div id="detailView"></div>
        </div>
        <div class="col-8 bg-gray text-dark">
            <div id="my_dataviz">
                <button class="hide-button" onclick='hidenodelabels()'>Hide Nodes</button>
                <button class="hide button" onclick="hidepipes()">Hide Pipes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <style>
    
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }
    
    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }
    
    text {
      font-family: sans-serif;
      font-size: 10px;
    }
    </style>
    <script>
    function hidepipes() {
     if($('.linklabel').is(':visible')){
             $('.linklabel').hide();
             }
         else $('.linklabel').show();
         }
    
    
    function hidenodelabels(){
    if($('.label').is(':visible')){
        $('.label').hide();
        }
    else $('.label').show();
    }
    </script>


    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="js/network.js"></script>
    <script src="js/labeler.js"></script>
    <script>
     const margin = {top: 20, right: 20, bottom: 20, left: 50};
        var labelArray = [], anchorArray = [];
        width = 800 - margin.left - margin.right;
        height = 800 - margin.top - margin.bottom;
     
        svg = d3.select("#my_dataviz")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        creategraph();
    </script>
}